body {
    font-family: 'Montserrat', sans-serif;
}

.header-follow {
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-size: 1.4em;
    text-align: center;
}

.text-block {
    font-family: 'Roboto Slab', serif;
}

p {
    color: $faded;
}

.text-right {
    text-align: right;
    padding-right: 45px;
}

.text-left {
    text-align: left;
    padding-left: 45px;
}

.vertical-line {
    border-left: 2px solid $about-border;
    height: 90px;
    transform: translateX(50%);
    @media (max-width: 1200px) {
        display: none;
    }
}

.portrait {
    margin: auto;
    border: 7px solid  $about-border;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    @media (max-width: 1200px) {
        height: 225px;
        width: 225px;
    }
    @media (max-width: 992px) {
        height: 300px;
        width: 300px;
    }
}

h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 700;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 85px;
    h1 {
        text-align: center;
    }
    
    
}
