
@import "variables";
@import "normalize";
@import "layout";

body {
    font-family: 'Montserrat', sans-serif;
}

.header-follow {
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-size: 1.4em;
}

.text-block {
    font-family: 'Roboto Slab', serif;
}

p {
    color: $faded;
}

.text-right {
    text-align: right;
    padding-right: 45px;
}

.text-left {
    text-align: left;
    padding-left: 45px;
}

.vertical-line {
    border-left: 2px solid $about-border;
    height: 90px;
    transform: translateX(50%);
    @media (max-width: 1200px) {
        display: none;
    }
}

.portrait {
    margin: auto;
    border: 7px solid  $about-border;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    @media (max-width: 1200px) {
        height: 225px;
        width: 225px;
    }
}
h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 700;
}

.home {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 700px;
    .layer{
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        height: 100%;
        width: 100%;

    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 25px;
        .logo {
            margin: 16px;
        }
        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
        }
        li {
            padding: 5px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            color: white;
            margin: 0 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .hero-text {
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        h2 {
            font-size: 2.3em;
            font-weight: 300;
            font-family: 'PT Serif', serif;
            font-style: italic;
            margin-top: 0;
        }
        h1 {
            font-size: 4.5em;
            margin-top: 0;
        }
        h1,
        button{
            text-transform: uppercase;
        }
        button {
            background-color: $golden;
            color: white;
            width: 240px;
            height: 65px;
            font-weight: 700;
            border: none;
            border-radius: 3px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.services,
.portfolio,
.team {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 120px 0;

}

.logos {
    padding: 60px 0;
    .brand {
        display: flex;
        justify-content: center;
        @media(max-width:992px){
            padding: 40px 0;
        }
    }
    // img {
    //     transform: translate(45%);
    // }
}

.services {
    .encapsuled-services {
        padding: 80px 0;
        @media (max-width:1200px) {
            p,
            h3 {
                font-size: 1.8em;
            }
            p {
                margin: 0 auto;
                width: 50%;
                margin-bottom: 80px;
            }
        }
    }
    .circle {
        margin: auto;
        border: 3px solid $golden;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        @media (max-width: 1200px) {
            width: 120px;
            height: 120px;
            border-width: 5px;
        }
        img {
            padding: 18px 15px;
            @media (max-width: 1200px) {
                height: 100px;
                padding: 20px 15px 15px 15px;
            }
        }
    }
}

.portfolio {
    p {
        padding-bottom: 50px;
    }
    .brick {
        margin-bottom: 50px;
        width: fit-content;       
        display: inline-block;
        p {
            padding-bottom: 27px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    @media (max-width: 992px) and (min-width: 769px) {
        height: 1800px;
    }
}

.about {
    padding: 120px 0;
    h1 {
        text-transform: uppercase;
        font-size: 2.5em;
        font-weight: 700;
    }
    h4 {
        margin: 7px;
    }
    h4,
    p {
        @media(max-width: 1200px) {
            font-size: 1.3em;
        }
    }

    .about-text-right {
        width: 80%;
        float: right;
    }

    .about-text-left {
        width: 80%;
        float: left;
    }
    
    .future {
        background-color: $golden;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        font-size: 1.1em;
        font-weight: 700;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
        p {
            color:  #ffffff;
            margin: 10px 0 0 0;
        }
    }
}
.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 85px;
}

.team {
    .portrait {
        border: none;
    }
    h4,
    p {
        text-align: center;
    }
    .social {
        display: flex;
        justify-content: center;

    }
    .team-end {
        width: 80%;
        margin: 50px auto 0;
    }
    @media(max-width: 992px) {
        .portrait {
            height: 400px;
            width: 400px;
        }
        .social {
            padding-bottom: 40px;
            i {
                border-width: 5px;
                height: 100px;
                width: 100px;
                font-size: 3em;
                padding-top: 20px;
                margin: 20px;
            }
        }
        h4,
        p {
            font-size: 1.5em;
        }
    }
}

.contact {
    background-color: #222222;
    .layer {
        background-position: 700px -290px;
    }
    .section-header {
        padding: 100px 0 80px 0;
        h1 {
            color: white;
            margin-bottom: 0;
        }
    }
    form {
        display: flex;
        align-items: center;
        flex-direction: column;
        .text-fields {
            display: flex;
            justify-content: center;
            height: auto;
            width: 100%;
            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                input {
                    height: 50px;
                }
            }
            .msg {               
                textarea {
                    height: 190px;
                }
                @media (max-width: 768px) {
                    display: flex;
                    justify-content: flex-end;
                }
            }
            .info,
            .msg {
                width: 90%;
            }
            input,
            textarea {                
                margin: 10px;
                padding: 15px;
                width: 90%;
                border: none;
                border-radius: 4px;
                
                &::placeholder {
                    color: #bbbbbb;
                    font-weight: 700;
                }
            }
            @media(max-width: 768px) {
                flex-direction: column;
            }
        }
        .submit {
            color: white;
            background-color: $golden;
            border: none;
            border-radius: 5px;
            width: 240px;
            height: 60px;
            margin: 30px auto 110px;
            text-transform: uppercase;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
.team,
footer {
    i {
        margin: 0 10px;
        font-size: 1.3em;
        text-align: center;
        color: black;
        padding-top: 10px;
        border: 2px solid black;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        @media(max-width: 992px) {
            border-width: 5px;
            height: 100px;
            width: 100px;
            font-size: 3em;
            padding-top: 20px;
            margin: 20px;
        }
    }
}
footer {
    height: 80px;
    .row {
        height: 100%;
    }
    .center {
        text-align: center;
    }
    p {
        @media(max-width:768px) {
            background-color: #f7f7f7;
        }
    }
    p,
    .social {
        padding: 40px;
        i {
            color: white;
            background-color: #222222;
        }
    }
}

.social {
    .fa-twitter,
    .fa-facebook-f,
    .fa-pinterest-p,
    .fa-google-plus-g {
        &:hover {
            color: white;
        }
    }
    .fa-twitter:hover {
        background-color: #00aced;
        border-color: #00aced;
    }
    .fa-facebook-f:hover {
        background-color: #3b5998;
        border-color: #3b5998;
    }
    .fa-pinterest-p:hover {
        background-color: #cb2028;
        border-color: #cb2028;
    }
    .fa-google-plus-g:hover {
        background-color: #d95232;
        border-color: #d95232;
    }
}
