.portfolio {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 120px 0;
    p {
        padding-bottom: 50px;
    }
    .brick {
        margin-bottom: 50px;
        width: fit-content;       
        display: inline-block;
        &:hover {
            cursor: pointer;
            background-color: $less-faded;
            p {
                color: white;
            }
        }
        @media (max-width: 768px) {
            width: 100%;
            img {
                width: 100%;
            }
            h4,
            p {
                font-size: 1.5em;
            }
        }
        p {
            padding-bottom: 27px;
        }
    }
    @media (max-width: 992px) and (min-width: 769px) {
        height: 1800px;
    }
}